mat-step{
    background: #fafafa;
}

::ng-deep .mat-horizontal-stepper-header-container{
    width: 40vw!important;
    margin: auto;
}

::ng-deep .mat-horizontal-content-container{
    background-color: #f3f3f6;
    padding: 0px!important;
}