<form class="sp-form" [formGroup]="editPaperForm">
    <div class="row">
        <div class="column">
            <app-title [editPaperForm]="editPaperForm"></app-title>
            <app-authors [editPaperForm]="editPaperForm" [formBuilder]="formBuilder"></app-authors>
            <app-abstract [editPaperForm]="editPaperForm" [formBuilder]="formBuilder"></app-abstract>
            <app-keyword [editPaperForm]="editPaperForm" [formBuilder]="formBuilder"></app-keyword>
        </div>
        <div class="main-column">
            <app-content [editPaperForm]="editPaperForm" [formBuilder]="formBuilder"></app-content>
        </div>
        <div class="column">
            <app-references [editPaperForm]="editPaperForm" [formBuilder]="formBuilder"></app-references>
        </div>
    </div>
</form>