<form class="sp-form" [formGroup]="editPaperForm">
    <div class="row">
        <div class="column">
            <app-title [editPaperForm]="editPaperForm"></app-title>
            <app-authors #authors [editPaperForm]="editPaperForm" [formBuilder]="formBuilder"></app-authors>
            <app-abstract #abstract [editPaperForm]="editPaperForm" [formBuilder]="formBuilder"></app-abstract>
            <app-keyword></app-keyword>
        </div>
        <div class="main-column">
            <mat-card class="content-card">
                <mat-card-title class="card-title">Content
                    <span class="span-button">
                        <button (click)="addSection()" mat-stroked-button class="add-button" matTooltip="Add section"
                            matTooltipPosition="below">section</button>
                    </span>
                </mat-card-title>
            </mat-card>
        </div>
        <div class="column">
            <mat-card>
                <mat-card-title class="card-title">References</mat-card-title>
                <mat-form-field class="full-width">
                    <input matInput formControlName="title">
                </mat-form-field>
            </mat-card>
        </div>
    </div>
</form>